<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>


    <link href="css/style.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet">

    <script src="bower_components/crypto-js/crypto-js.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jsoneditor/dist/jsoneditor.min.js"></script>
    <script src="bower_components/ng-jsoneditor/ng-jsoneditor.min.js"></script>
    <!--<script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>-->
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/zeroclipboard/dist/ZeroClipboard.min.js"></script>
    <script src="bower_components/angular-zeroclipboard/dist/angular-zeroclipboard.min.js"></script>

    <script src="js/scripts/hashmap.js"></script>
    <script src="js/scripts/vkbeautify.0.99.00.beta.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/logger.service.js"></script>
    <script src="js/services/common-util.service.js"></script>
    <script src="js/services/server-notification.service.js"></script>
    <script src="js/main/main-controller.js"></script>
    <script src="js/directives/oms-otn-rest-form.directive.js"></script>
    <script src="js/directives/oms-notif-line.directive.js"></script>
</head>

<body ng-app="starter" ng-controller="MainController as vm">
<div style="width:100%; height:100%;padding: 20px 5px 1px 5px">
    <div style="position: relative;">
        <a class="btn btn-link btn-sm" style="position:absolute;right:10px; top:0px" ng-click="vm.interServerAddrBt()">
            <i class="fa fa-optin-monster fa-fw"></i>
        </a>
        <a class="btn btn-warning btn-lg" style="position:absolute;right:60px; top:0px" href="doc.html" target="_blank">
            <i class="fa fa-question-circle fa-fw"></i>&nbsp;Help
        </a>
        <button class="btn btn-success btn-lg" style="position:absolute;right:314px; top:0px"
                ng-disabled="!(vm.otnIP&&vm.otnPort&&vm.casIP&&vm.casPort&&vm.casUrl&&vm.presentationIP&&vm.guiUsername&&vm.guiPassword&&vm.omsUrl) || vm.connected"
                ng-click="vm.onLogin()"><i class="fa fa-sign-in fa-fw"></i>&nbsp;Login
        </button>

        <button class="btn btn-danger btn-lg" style="position:absolute;right:178px; top:0px" ng-disabled="!vm.connected"
                ng-click="vm.onLogout()"><i class="fa fa-sign-out fa-fw"></i>&nbsp;Logout
        </button>

        <div class="row">
            <form class="form-horizontal col-sm-4" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">OtnIP</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="vm.otnIP"
                               placeholder="OtnIP">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">OtnPort</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" ng-model="vm.otnPort"
                               placeholder="OtnPort">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">CasIP</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="vm.casIP"
                               placeholder="CasIP">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">CasPort</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" ng-model="vm.casPort"
                               placeholder="CasPort">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">CasUrl</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="vm.casUrl"
                               placeholder="CasUrl">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">PresentationIp</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="vm.presentationIP"
                               placeholder="PresentationIp">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">GuiUsername</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="vm.guiUsername"
                               placeholder="GuiUsername">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">GuiPassword</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="vm.guiPassword"
                               placeholder="GuiPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">OmsUrl</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="vm.omsUrl"
                               placeholder="OmsUrl">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" ng-click="vm.sessioninfo=!vm.sessioninfo">SessionInfo</label>
                    <label class="col-sm-1  control-label">
                        <input class="pull-left" type="checkbox"  ng-model="vm.sessioninfo">
                    </label>
                    <span class="col-sm-8 control-label pull-left" style="cursor: default; text-align: left; color: dodgerblue; font-style: italic" ng-click="vm.sessioninfo=!vm.sessioninfo">(Need for release 14.2 or higher)</span>
                </div>


            </form>
            <div class="col-sm-4">
                <label class="control-label">Comet channels to subscribe:</label><br>
                <div class="ace-border" ui-ace="{
                          useWrapMode : false,
                          showGutter: true,
                          theme:'clouds',
                          mode: 'json',
                          firstLineNumber: 1,
                          onLoad: vm.aceLoaded
                        }" ng-model="vm.channelsBody" style="height: 200px;">
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <form class="form-horizontal" role="form" ng-show="vm.connected">
        <div class="form-group">
            <label class="col-sm-1 control-label">URL</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="vm.baseUrl"
                       placeholder="Base URL">
            </div>

            <!--<label class="col-sm-1 control-label">+</label>-->
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="vm.path"
                       placeholder="Path">
            </div>
        </div>


        <div class="form-group ">
            <div class="col-sm-1" style="text-align: right; padding-right:0px; margin-right:0px">

                <label class="col-sm-12 control-label"
                       ng-style="{color: vm.bodyType=='json' ? 'black' : 'lightgray'}">Request (JSON)<br><input
                        type="radio" value="json"
                        ng-model="vm.bodyType"><br></label>

                <button class="btn btn-default btn-sm" ng-disabled="vm.bodyType=='xml'"
                        ng-click="vm.postBodyModeSwith()"  data-toggle="tooltip" title="{{vm.postBodyOptions.mode=='code' ? 'Tree view' : 'Code view'}}">
                    <i class="fa  fa-fw"
                       ng-class="{'fa-th-list': vm.postBodyOptions.mode=='code', 'fa-code': vm.postBodyOptions.mode!='code'}"></i>
                </button>

                <button class="btn btn-default btn-sm" ng-disabled="vm.bodyType=='xml'"
                        ng-click="vm.reqJsonAccordionNotOn=!vm.reqJsonAccordionNotOn"  data-toggle="tooltip" title="{{vm.reqJsonAccordionNotOn ? 'Collapse ' : 'Expand'}}">
                    <i class="fa fa-fw"
                       ng-class="{'fa-expand': !vm.reqJsonAccordionNotOn, 'fa-compress': vm.reqJsonAccordionNotOn}"></i>
                </button>



                <div class="rest-action-bt-area-border" style="margin-top:10px">
                    <div class="rest-action-bt">
                        <button class="btn btn-block btn-success" ng-click="vm.onGet()">Get</button>
                    </div>
                    <div class="rest-action-bt">
                        <button class="btn  btn-block  btn-primary" ng-click="vm.onPost()">Post</button>
                    </div>
                    <div class="rest-action-bt">
                        <button class="btn  btn-block  btn-primary" ng-click="vm.onPut()">Put</button>
                    </div>
                    <div class="rest-action-bt">
                        <button class="btn  btn-block  btn-danger" ng-click="vm.onDelete()">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div ng-jsoneditor="vm.onReqJsonEditorLoad" ng-model="vm.postBody" options="vm.postBodyOptions" prefer-text="true"
                     style="width:100%; height: 270px" ng-style="{height: vm.reqJsonAccordionNotOn ? '540px' : '270px'}"></div>
            </div>
            <div class="col-sm-1" style="text-align: right">
                <label class="col-sm-12 control-label"
                       ng-style="{color: vm.bodyType=='xml' ? 'black' : 'lightgray'}">Request
                    (XML)<br><input type="radio" value="xml"
                                ng-model="vm.bodyType"><br></label>
                <button class="btn btn-default btn-sm" ng-disabled="vm.bodyType=='json'"
                        ng-click="vm.reqXmlAccordionNotOn=!vm.reqXmlAccordionNotOn"   data-toggle="tooltip" title="{{vm.reqXmlAccordionNotOn ? 'Collapse ' : 'Expand'}}">
                    <i class="fa fa-fw"
                       ng-class="{'fa-expand': !vm.reqXmlAccordionNotOn, 'fa-compress': vm.reqXmlAccordionNotOn}"></i>
                </button>
            </div>


            <div class="col-sm-4">
                <div class="ace-border" ui-ace="{
                          useWrapMode : false,
                          showGutter: true,
                          theme:'clouds',
                          mode: 'xml',
                          firstLineNumber: 1,
                          onLoad: vm.aceLoaded
                        }" ng-model="vm.postBodyNonJson"  ng-style="{height: vm.reqXmlAccordionNotOn ? '540px' : '270px'}">
                </div>
            </div>

        </div>


        <div class="form-group">
            <div class="col-sm-1" style="text-align: right; padding-right:0px; margin-right:0px">
                <label class="control-label" ng-style="{color: vm.resultBodyType=='json' ? 'black' : 'lightgray'}">Response
                    (JSON)<br><br>
                </label>

                <button class="btn btn-default btn-sm"
                        ng-click="vm.resultModeSwith()"  data-toggle="tooltip" title="{{vm.resultOptions.mode=='code' ? 'Tree view' : 'Code view'}}">
                    <i class="fa fa-fw"
                       ng-class="{'fa-th-list': vm.resultOptions.mode=='code', 'fa-code': vm.resultOptions.mode!='code'}"></i>
                </button>

                <button class="btn btn-default btn-sm"
                        ng-click="vm.rspJsonAccordionNotOn=!vm.rspJsonAccordionNotOn"  data-toggle="tooltip" title="{{vm.rspJsonAccordionNotOn ? 'Collapse ' : 'Expand'}}">
                    <i class="fa fa-fw"
                       ng-class="{'fa-expand': !vm.rspJsonAccordionNotOn, 'fa-compress': vm.rspJsonAccordionNotOn}"></i>
                </button>

            </div>
            <div class="col-sm-5">
                <div ng-jsoneditor="vm.onRspJsonEditorLoad" ng-model="vm.result" options="vm.resultOptions" prefer-text="true"
                     style="width:100%; height: 250px" ng-style="{height: vm.rspJsonAccordionNotOn ? '540px' : '250px'}">
                </div>
            </div>
            <div class="col-sm-1"  style="text-align: right">
            <label class="control-label" ng-style="{color: vm.resultBodyType=='xml' ? 'black' : 'lightgray'}">Response
                (XML)<br><br></label>
            <button class="btn btn-default btn-sm"
                    ng-click="vm.rspXmlAccordionNotOn=!vm.rspXmlAccordionNotOn"  data-toggle="tooltip" title="{{vm.rspXmlAccordionNotOn ? 'Collapse ' : 'Expand'}}">
                <i class="fa fa-fw"
                   ng-class="{'fa-expand': !vm.rspXmlAccordionNotOn, 'fa-compress': vm.rspXmlAccordionNotOn}"></i>
            </button>
            </div>
            <div class="col-sm-4">
                <div class="ace-border" ui-ace="{
                          useWrapMode : false,
                          showGutter: true,
                          theme:'clouds',
                          mode: 'xml',
                          firstLineNumber: 1,
                          onLoad: vm.aceLoaded
                        }" readonly ng-model="vm.resultNonJson" ng-style="{height: vm.rspXmlAccordionNotOn ? '540px' : '250px'}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1" style="text-align: right; padding-right:0px; margin-right:0px">
                <label class="control-label">Notifications
                </label><br><br>
                <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Clear content"
                        ng-click="vm.clearNotifications()">
                    <i class="fa fa-fw fa-trash-o"></i>
                </button>

                <button class="btn btn-default btn-sm" ng-class="{'btn-info': !vm.autoScroll, 'btn-defult': vm.autoScroll}"
                        ng-click="vm.swithAutoScroll()"  data-toggle="tooltip" title="{{vm.autoScroll ? 'Pin scroll' : 'Auto scroll'}}">
                    <i class="fa fa-fw fa-thumb-tack"></i>
                </button>
                <br><br>
                <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Copy content to clipboard"
                        ui-zeroclip zeroclip-copied="vm.notificationAreaCopied()"
                        zeroclip-text="{{vm.getNotificationAreaContent()}}">
                    <i class="fa fa-fw fa-copy"></i>
                </button>

                <button class="btn btn-default btn-sm"
                        ng-click="vm.notificationAccordionNotOn=!vm.notificationAccordionNotOn"  data-toggle="tooltip" title="{{vm.notificationAccordionNotOn ? 'Collapse ' : 'Expand'}}">
                    <i class="fa fa-fw"
                       ng-class="{'fa-expand': !vm.notificationAccordionNotOn, 'fa-compress': vm.notificationAccordionNotOn}"></i>
                </button>
            </div>
            <div class="col-sm-10">
                <div id="notifArea"
                     style="width:100%; border: 1px solid cornflowerblue;overflow: scroll;" ng-style="{height: vm.notificationAccordionNotOn ? '540px' : '300px'}">
                    <oms-notif-line ng-class="{'blink_me': vm.notificationCopied}"
                            ng-repeat="ntf in vm.notifications"
                                    line-one="ntf.line1"
                                    line-one-style="{'font-weight': 'bold', 'font-family': 'Courier New', 'color': 'blue'}"
                                    line-two="ntf.line2"
                                    line-two-style="{'color': '#888', 'font-family': 'Courier New'}">
                    </oms-notif-line>
                </div>
            </div>
        </div>
    </form>


</div>
<div ng-if="(vm.logining && !vm.connected) || (vm.logouting && vm.connected) || vm.requestProcessing"
     style="position:absolute; top: 0px; left:0px; width:100%;background-color: rgba(0,0,0,0.1); color: rgba(0,0,0,0.5); text-align:center"
     ng-style="{'height': vm.requestProcessing ? '400%' : '100%', 'background-color': vm.requestProcessing ? 'rgba(0,0,0,0)' : 'rgba(0,0,0,0.1)'}">
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"
       style="position: absolute; top:50%; left:50%; margin-left:-50px; margin-top:-20px"></i>
</div>
</body>
</html>
