<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>


    <link href="css/style.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet">

    <script src="bower_components/crypto-js/crypto-js.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jsoneditor/dist/jsoneditor.min.js"></script>
    <script src="bower_components/ng-jsoneditor/ng-jsoneditor.min.js"></script>

    <script src="js/scripts/hashmap.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/logger.service.js"></script>
    <script src="js/services/common-util.service.js"></script>
    <script src="js/services/server-notification.service.js"></script>
    <script src="js/main/main-controller.js"></script>
    <script src="js/directives/oms-otn-rest-form.directive.js"></script>
    <script src="js/directives/oms-notif-line.directive.js"></script>
</head>

<body ng-app="starter" ng-controller="MainController as vm">
<div  style="width:100%; height:100%;padding: 20px 5px 5px 5px">
    <div style="position: relative;">
        <a class="btn btn-warning btn-lg" style="position:absolute;right:100px; top:0px" href="doc.html" target="_blank"><i class="fa fa-question-circle fa-fw"></i>&nbsp;命令帮助</a>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-1 control-label">OtnIP</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="vm.otnIP"
                       placeholder="OtnIP">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">OtnPort</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" ng-model="vm.otnPort"
                       placeholder="OtnPort">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">CasIP</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="vm.casIP"
                       placeholder="CasIP">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">CasPort</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" ng-model="vm.casPort"
                       placeholder="CasPort">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">CasUrl</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="vm.casUrl"
                       placeholder="CasUrl">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">PresentationIp</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="vm.presentationIP"
                       placeholder="PresentationIp">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">GuiUsername</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="vm.guiUsername"
                       placeholder="GuiUsername">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">GuiPassword</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="vm.guiPassword"
                       placeholder="GuiPassword">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">OmsUrl</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="vm.omsUrl"
                       placeholder="OmsUrl">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-1">
                <button class="btn btn-success btn-lg"
                        ng-disabled="!(vm.otnIP&&vm.otnPort&&vm.casIP&&vm.casPort&&vm.casUrl&&vm.presentationIP&&vm.guiUsername&&vm.guiPassword&&vm.omsUrl) || vm.connected"
                        ng-click="vm.onLogin()">Login
                </button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-danger btn-lg" ng-disabled="!vm.connected" ng-click="vm.onLogout()">Logout</button>
            </div>
        </div>

    </form>
    </div>

    <br><br>

    <form class="form-horizontal" role="form" ng-show="vm.connected">
        <div class="form-group">
            <label class="col-sm-1 control-label">Base URL</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="vm.baseUrl"
                       placeholder="Base URL">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Path</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="vm.path"
                       placeholder="Path">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-1 control-label">POST Body</label>
            <div class="col-sm-5">
                <div ng-jsoneditor="vm.onLoad" ng-model="vm.postBody" options="vm.postBodyOptions"
                     style="width:100%; height: 400px"></div>
            </div>
            <div class="col-sm-1">
                <button class="btn"
                        ng-class="{'btn-info': vm.postBodyOptions.mode=='code', 'btn-defult': vm.postBodyOptions.mode!='code'}"
                        ng-click="vm.postBodyModeSwith()">{{vm.postBodyOptions.mode=='code' ? 'Tree' : 'Code'}}
                </button>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-1">
                <button class="btn btn-lg btn-success" ng-click="vm.onGet()">Get</button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-lg btn-primary" ng-click="vm.onPost()">Post</button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-lg btn-danger" ng-click="vm.onDelete()">Delete</button>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <label class="control-label">Response</label>
            </div>

            <div class="col-sm-4">
                <label class="control-label">Notifications</label>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <!--<json-formatter json="result" open="1" ng-if="result"></json-formatter>-->

                <div ng-jsoneditor="vm.onLoad" ng-model="vm.result" options="vm.resultOptions"
                     style="width:100%; height: 500px"></div>
            </div>
            <div class="col-sm-5">

                <!--<textarea id="notifArea" spellcheck="false" rows="16" style="font-weight: bold; font-family: 'Courier New'; width:100%; border: 1px solid cornflowerblue;">{{vm.notifications}}</textarea>-->
                <div id="notifArea" style="width:100%; border: 1px solid cornflowerblue;height:500px; overflow: scroll">
                    <oms-notif-line ng-repeat="ntf in vm.notifications"
                                    line-one="ntf.line1"
                                    line-one-style="{'font-weight': 'bold', 'font-family': 'Courier New', 'color': 'blue'}"
                                    line-two="ntf.line2"
                                    line-two-style="{'color': '#888', 'font-family': 'Courier New'}">

                    </oms-notif-line>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button class="btn"
                        ng-class="{'btn-info': vm.resultOptions.mode=='code', 'btn-defult': vm.resultOptions.mode!='code'}"
                        ng-click="vm.resultModeSwith()">{{vm.resultOptions.mode=='code' ? 'Tree' : 'Code'}}
                </button>
            </div>

            <div class="col-sm-4">
                <button class=" btn btn-info"
                        ng-click="vm.clearNotifications()">Clear
                </button>
                <button class=" btn btn-default"
                        ng-class="{'btn-info': !vm.autoScroll, 'btn-defult': vm.autoScroll}"
                        ng-click="vm.swithAutoScroll()">{{vm.autoScroll ? "StopScroll" : "AutoScroll"}}
                </button>
            </div>

        </div>
    </form>



</div>
<div ng-if="(vm.logining && !vm.connected) || (vm.logouting && vm.connected)" style="position:absolute; top: 0px; left:0px; width:100%;height:100%;background-color: rgba(0,0,0,0.1); color: rgba(0,0,0,0.5); text-align:center">
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw" style="position: absolute; top:50%; margin-left:-50px; margin-top:-20px"></i>
</div>
</body>
</html>
